/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333333;
}

.container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.app-header {
    background: #1E1E1E;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.form-container {
   text-align: center;
   padding-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary, .btn-secondary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-primary {
    background: #97b948;
    color: white;
    align-self: center;
    width: 150px;
}

.btn-primary:hover {
    background: #8ca84a;
}

.btn-secondary {
    background: #ccc;
    color: #333;
}

.btn-secondary:hover {
    background: #bbb;
}

.wizard-step {
    display: none;
}

.wizard-step.active {
    display: block;
}

.form-section {
    display: none;
}

.form-section.active {
    display: block;
}

.switch-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.switch-link {
    color: #97b948;
    cursor: pointer;
    font-weight: bold;
}
